.character-card-image {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  background-color: var(--background-image);
  width: 178px;
  height: 178px;
  display: flex;
}

.circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #eae1cc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.card-info {
  width: 158px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  /* row-gap: 1px; */
  border: 2px solid var(--accent-color);
  border-radius: 13px;
  padding: 8px;
  min-height: 158px;
  justify-content: flex-start;
  align-content: start;
}

.character-card {
  display: flex;
  background-color: var(--backgroung-card);
  padding: 20px;
  margin-bottom: 12px;
  width: fit-content;
  border-radius: 10px;
}

.column {
  margin-left: 8px;
}
@media (max-width: 600px) {
  .character-card {
    flex-direction: column;
    align-items: center;
  }
  .card-info {
    width: 104px;
    min-height: 104px;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 8px;
  }
  .column {
    margin-left: 0;
  }
  .circle img {
    width: 16px;
    height: 16px;
  }
  .circle {
    width: 24px;
    height: 24px;
  }
  .character-card-image {
    width: 124px;
    max-height: 124px;
  }
  .character-card-image img {
    width: 124px;
    max-height: 124px;
  }
  .character-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: self-start;
    gap: 8px;
  }
}
