#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

select {
  border-radius: 50px;
  padding: 8px 20px;
  background-color: #f1cb30;
  margin-right: 8px;
  color: var(--accent-color);
  border: none;
  font-size: 24px;
  text-align: center;
  width: 200px;
  appearance: none; /* Hide the default arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
}

select option {
  background-color: #f1cb30;
  color: var(--accent-color);
  font-size: 24px;
}
.clear-button {
  position: relative;
  left: -50px;
  background: none;
  border: none;
}

.clear-button:hover .material-icons {
  cursor: pointer;
  font-weight: 600;
}

.kofi-button {
  display: flex;
  align-items: center;
  gap: 8px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border: none;
  background: white;
  border-radius: 24px;
  padding: 8px 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.kofi-icon {
  height: 32px;
  border-radius: 50%;
}

@media (max-width: 450px) {
  .kofi-button span {
    display: none;
  }
}
